{% extends '@Approval/layout.html.twig' %}

{% block report_title %}{{ report_title|trans }}{% endblock %}

{% block report %}

    <div class="row">
        <div class="col-md-12">
            <div class="nav-tabs-custom">
                <div class="tab-content">
                    {{ form_start(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}