includes:
  - %rootDir%/../phpstan-doctrine/extension.neon
  - %rootDir%/../phpstan-symfony/extension.neon
  - %rootDir%/../phpstan-symfony/rules.neon

parameters:
  level: 6
  excludePaths:
    - vendor/
    - Settings/MetaFieldSettings.php
  treatPhpDocTypesAsCertain: false
  inferPrivatePropertyTypeFromConstructor: true
  ignoreErrors:
    - identifier: missingType.iterableValue
    - identifier: missingType.generics
